<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>

  <appSettings>

  </appSettings>

  <connectionStrings>

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <assembly name="UnitTestingWithUnity" />
    <assembly name="UnitTestingWithUnity.Test" />
    <namespace name="UnitTestingWithUnity.BusinessFacade" />
    <namespace name="UnitTestingWithUnity.Business" />
    <namespace name="UnitTestingWithUnity.Data" />
    <namespace name="UnitTestingWithUnity.Test.Mock" />

    <container>
      <register type="ICustomerManager" mapTo="MockCustomerManager" />
      <register type="ICustomerDataAccess" mapTo="MockCustomerDataAccess" />
    </container>

  </unity>
</configuration>
