<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <root>
      <level value="ALL" />
      <appender-ref ref="LogWarnAppender"/>
      <appender-ref ref="LogErrorAppender"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="LogFileAppenderDebug"/>
      <!--<appender-ref ref="SumoLogicAppender"/>
      <appender-ref ref="BufferedSumoLogicAppender"/>-->
    </root>
    <appender name="LogWarnAppender" type="log4net.Appender.FileAppender">
      <!--<file type="log4net.Util.PatternString" value="C:\temp\RolWebLog_CandidateData_%date{yyyyMMdd}.log" />-->
      <file type="log4net.Util.PatternString" value="C:\ROLContentFiles\RolWebLog_Warn_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="LogErrorAppender" type="log4net.Appender.FileAppender">
      <!--<file type="log4net.Util.PatternString" value="C:\temp\RolWebLog_CandidateData_%date{yyyyMMdd}.log" />-->
      <file type="log4net.Util.PatternString" value="C:\ROLContentFiles\RolWebLog_Error_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin  value="ERROR" />
        <levelMax  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="C:\ROLContentFiles\RolWebCandidateLog_%date{yyyyMMdd}.log" />
      <!--<file type="log4net.Util.PatternString" value="${TMP}\CRTLog_%env{USERNAME}_%date{yyyyMMdd}.log" />-->
      <!--<file value="mycrtlog.log"></file>-->
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppenderDebug" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="c:\ROLContentFiles\RolWebLog_Debug_%date{yyyyMMdd}.log" />

      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="SumoLogicAppender" type="SumoLogic.Logging.Log4Net.SumoLogicAppender, SumoLogic.Logging.Log4Net">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <Url value="https://collectors.au.sumologic.com/receiver/v1/http/ZaVnC4dhaV2CJ2XbSaWaXnIE8I5aMrMaOzMXXJ0ad7zs2db8dgQpzuVg3H7kl4hlVCHqaAlHwOc54Wd7v_A9UZ6xJTuPpoRNtuc8gDkhiLi8kKRKhFa7Xw==" />
      <!--<Url value="https://collectors.au.sumologic.com/receiver/v1/http/ZaVnC4dhaV1hsrJucwl23YDV9Br3cLRAkebPzNR3M54yIz5KvyIaLYOUBUuMDxgBbOJ9buBZVy0B4ov05P8AK6cccT_85RVnaWQLOMuRxaRWgn18vugqbg==" />-->
      <ConnectionTimeout value="30000" />
      <SourceName value="ResultsOnline" />
      <RetryInterval value="5000" />
      <MessagesPerRequest value="10" />
      <MaxFlushInterval value="10000" />
      <FlushingAccuracy value="250" />
      <MaxQueueSizeBytes value="500000" />
      <UseConsoleLog value="true" />
    </appender>
    <appender name="BufferedSumoLogicAppender" type="SumoLogic.Logging.Log4Net.BufferedSumoLogicAppender, SumoLogic.Logging.Log4Net">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin  value="ERROR" />
        <levelMax  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <Url value="https://collectors.au.sumologic.com/receiver/v1/http/ZaVnC4dhaV2CJ2XbSaWaXnIE8I5aMrMaOzMXXJ0ad7zs2db8dgQpzuVg3H7kl4hlVCHqaAlHwOc54Wd7v_A9UZ6xJTuPpoRNtuc8gDkhiLi8kKRKhFa7Xw==" />
      <SourceName value="ResultsOnlineBuffered" />
      <ConnectionTimeout value="30000" />
      <RetryInterval value="5000" />
      <MessagesPerRequest value="10" />
      <MaxFlushInterval value="10000" />
      <FlushingAccuracy value="250" />
      <MaxQueueSizeBytes value="500000" />
      <UseConsoleLog value="true" />
    </appender>
    <logger name="ROLWebApplication">
      <!--<level value="INFO" />
      <appender-ref ref="LogFileAppender" />-->
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppenderDebug" />
    </logger>
    <logger name="test">
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <logger name="warn">
      <level value="WARN" />
      <appender-ref ref="LogWarnAppender" />
    </logger>
  </log4net>
</configuration>
